{% include "django/forms/widgets/input.html" %}

<script>
  $(function () {

    $("button[name='{{ widget.name }}']").datetimepicker({
      format: 'Y-m-d H:i',
      formatTime:'H:i',
      formatDate:'Y-m-d',
      allowTimes:[
        "{{ widget.attrs.allowTimes }}"
      ],
      
      //allowDates:['2019-10-07'],
      dayOfWeekStart : 1,
      lang:'ru',
      disabledDates: "{{ widget.attrs.disabledDates }}",
      minDate: "{{ widget.attrs.minDate }}",
      //allowTimes: "{{ widget.attrs.allowTimes }}",
      defaultTime: "{{ widget.attrs.allowTimes }}",
      //defaultDate:new Date()
      onChangeDateTime:function(dp,$input){
        $("input[name='{{ widget.name }}']").val($input.val());
      }

    });   
  });

  

</script>