{% extends "body.html" %}
{% load static %}
{% block title %}Создание нового пароля{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% if not user.is_authenticated %}

<form method="post" class="reg">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Создание нового пароля</h1>
    <input type="password" name="new_password1" maxlength="50" class="form-control" required="" id="id_new_password1" placeholder="Пароль">
    <p></p>
    <input type="password" name="new_password2" maxlength="50" class="form-control" required="" id="id_new_password2" placeholder="Подтверждение пароля">
    <p></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
    <input type="hidden" name="next" value="{{ next }}">
  
  </form>

{% else %}
Упс! Как вы здесь оказались? :)  
{% endif %} 
{% endblock %}