{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}
{% block content %}

{% if not user.is_authenticated %}

<div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5  overflow-hidden">

<form method="post" action="{% url 'password_reset' %}" class="form-signin">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Забыли пароль?</h1>
    <p>Укажите свой E-Mail адрес, на который мы отправим инструкции для сброса пароля</p>
    <input type="email" name="email" maxlength="254" class="form-control" required="" id="id_email" placeholder="E-mail">
    <p></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Сбросить пароль</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</div>

{% else %}
Упс! Как вы здесь оказались? :)  
{% endif %} 
{% endblock %}