{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<div class="container">
  <div class="row justify-content-center">
  
    <div class="col-xl-12 col-lg-6 col-md-6">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Создание учётной записи</h1>
            </div>
            <form method="post" action="{% url 'user:userDocuments' %}" enctype='multipart/form-data'>
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {% render_field field class="form-control" %}
                  {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endfor %}
              <div class="form-group">
                Нажимая на кнопку продолжить Вы соглашаетесь с <a href="#">лицензионным соглашением</a> и даёте согласие на <a href="#">обработку персональных данных</a>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Продолжить</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  
  
  </div>


{% endblock %}