{% extends 'includes/main.html' %}
{% load static %}
{% load l10n %}
{% block title %}Карта{% endblock %}

{% block content %}
<header class="bg-while text-white"  id="map">
  
</header>

<section id="filler" style="position:relative; padding-top:20px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
       <label for="start_date">Дата заезда</label>
       <input type="datetime-local" class="form-control" id="start_date" value="{{today}}" min="{{today}}">
      </div>
      <div class="col-lg-6 mx-auto">
        <label for="end_date">Дата выезда</label>
        <input type="datetime-local" class="form-control" id="end_date" value="{{tomorrow}}" min="{{today}}">
      </div>
      <!--<div class="col-lg-4  pt-4 pl-4 pr-4">
        <div class="form-group">
          <label for="amount">Цена <span id="ex6SliderVal">от {{min}} до {{max}}</span></label>
          <input id="ex2" type="text" class="span2" value="" data-slider-min="{{min}}" data-slider-max="{{max}}" data-slider-step="1000" data-slider-value="[{{min}},{{max}}]"/>
        </div>
      </div> -->
    </div>
    <div class="row pt-2">
      
      <div class="col-lg-6 pt-4 pl-4 pr-4">
        <!--<label for="radius">Радиус</label>
        <select id="radius" class="form-control">
          <option value="1">1 км</option>
          <option value="2">2 км</option>
          <option value="3">3 км</option>
          <option value="4">4 км</option>
        </select> -->
        <div class="form-group">
          <label for="amount">Цена <span id="ex6SliderVal">от {{min_val}} до {{max_val}}</span></label></br>
          <input id="ex2" type="text" class="span2" value="" data-slider-min="{{min}}" data-slider-max="{{max}}" data-slider-step="1000" data-slider-value="[{{min_val}},{{max_val}}]"/>
        </div>
      </div>
      <div class="col-lg-6">
        <label for="rooms">Количество комнат</label>
        <select id="rooms" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <a href="{% url 'rents:map' %}">Очистить фильтры</a>
      </div>
    </div>
  </div>
</section> 

<footer class="py-1 bg-dark fixed-bottom">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <a href="{% url 'rents:list' %}" class="btn btn-lg btn-block btn-primary" id="showAsList">Показать списком</a>
          </div>
      </div>
  </div>
</footer>
{% endblock %}

{% block javascript %}
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script>

    $(document).ready(function(){ 
      if(window.location.href.split('?').length == 2)
      showAsList.href = "{% url 'rents:list' %}?"+window.location.href.split('?')[1];
    })


    var map, markers, ddt;


    
    DG.then(function() {
        

        var container = document.createElement('div'),
                    mapBlock = document.getElementById('map'),
                    markers = DG.featureGroup();

        container.id = 'map';


        mapBlock.appendChild(container);

        map = DG.map('map', {
            center: [55.797602, 49.099868],
            zoom: 10,
            fullscreenControl: false,
            zoomControl: false,
            width:"100%"
        });

        {%for flat in flats%}
            {% if flat.latitude is not None and flat.longitude is not None%}
            DG.marker([{{flat.latitude|unlocalize}}, {{flat.longitude|unlocalize}}]).addTo(markers).bindLabel('{{flat.address}}').on('click', function () {
                window.location.replace("{% url 'rents:apartment' flat.pk %}");
            });
            {%endif%}
        {%endfor%}


        markers.addTo(map);
        
        map.locate({setView: true, watch: false})
            .on('locationfound', function(e) {
                DG.marker([e.latitude, e.longitude]).addTo(map).bindPopup('Вы находитесь здесь!');
            })
            .on('locationerror', function(e) {
                DG.popup()
                    .setLatLng(map.getCenter())
                    .setContent('Доступ к определению местоположения отключён')
                    .openOn(map);
            });

        document.getElementById('ex2').onchange = showMarkers;
        document.getElementById('start_date').onchange = showMarkers;
        document.getElementById('end_date').onchange = showMarkers;
        document.getElementById('rooms').onchange = showMarkers;
        //document.getElementById('radius').onchange = showMarkers;


        function showMarkers() {
          markers.removeFrom(map);
          markers = DG.featureGroup();
          var promise = DG.ajax('/map/', {
            type: 'get',
            data: {
                min: parseInt(ex2.value.split(',')[0]),
                max: parseInt(ex2.value.split(',')[1]),
                start: start_date.value.substr(0,10),
                end: end_date.value.substr(0,10),
                rooms: rooms.value,
                api:true
            },
            success: function(data) {
                data.flats.forEach(element => {
                  console.log('success', element);
                  DG.marker([element[1], element[2]]).addTo(markers).on('click', function () {
                    window.location.replace("/apartment/"+element[0]+" ");
                });
                  
                  
                });
                console.log('success', data.flats);
                ddt = data.flats;
            },
            error: function(error) {
                console.log('error', error);
            }
          });
          markers.addTo(map);

          showAsList.href = "{% url 'rents:list' %}?min="+parseInt(ex2.value.split(',')[0])+"&max="+parseInt(ex2.value.split(',')[1])+"&start="+start_date.value.substr(0,10)+"&end="+end_date.value.substr(0,10)+"&rooms="+rooms.value+""

        };
    });

    $("#ex2").slider({});
    $("#ex2").on("load", function(){
      $("#ex6SliderVal").text("от "+slideEvt.value[0]+" до "+slideEvt.value[1]);
      $("#ex6SliderVal").val(slideEvt.value);
    });
 $("#ex2").on("slide", function(slideEvt) {
  $("#ex6SliderVal").text("от "+slideEvt.value[0]+" до "+slideEvt.value[1]);
  $("#ex6SliderVal").val(slideEvt.value);
});
</script>
{% endblock %}
