{% extends 'includes/main.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% load l10n %}
{% block content %}
<header class="bg-while text-white"  id="map">
  
</header>

<section id="filler" style="position:relative; padding-top:20px;">
  <div class="container" style="padding-top:25px;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>{{renta.flat.addressPartOne}}</h2>
          <p class="lead">{{renta.flat.hint}} </p>
          {% if renta.flat.app_status is False%}
            <p  class="lead" style="color: red;">Внимание! Связь электронного замка и нашего сервера была потеряна. Если прошло более 2 минут с момента появления этого сообщения, обратитесь к менеджеру.</p>
          {%endif%}
        </div>
      </div>
    </div> 
  <form method='POST' action="#">
    {% csrf_token %}
      <!--<div class="container">
          <div class="row">
              <div class="col-lg-4 mx-auto">
                  <div class="form-group">
                    <label for="id_end">Количество дней <strong id="daysCount">1</strong></label>
                    <input type="range" class="custom-range" min="1" max="5" step="1" value="1" name="end" id="id_end" onchange="changeval()">
                  </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-lg btn-block btn-outline-secondary" name="extend">Продлить</button>
              </div>
              
              </div>
          </div>
      </div> -->
      <div class="container">
          <div class="row">
              <div class="col-lg-4 mx-auto">
              <div class="form-group">
                  <button type="submit" class="btn btn-lg btn-block btn-outline-danger" name="end">Завершить аренду</button>
              </div>
              
              </div>
          </div>
      </div>
 
  
</section> 

<footer class="py-1 bg-dark fixed-bottom">
 
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <button type="submit" class="btn btn-lg btn-block btn-primary" name="open">Открыть дверь | {{renta.AccessObj.timeRemaining}}</button>
              </div>
          </div>
      </div>
  </form>
{% endblock %}

{% block javascript %}
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script>

    function changeval()
    {
        $("#daysCount").text($("#id_end").val());

    }

    var map, markers;
    DG.then(function() {
        

        var container = document.createElement('div'),
                    mapBlock = document.getElementById('map'),
                    markers = DG.featureGroup();

        container.id = 'map';


        mapBlock .appendChild(container);

        map = DG.map('map', {
            {% if renta.flat.latitude is not None and renta.flat.longitude is not None%}
                center: [{{renta.flat.latitude|unlocalize}}, {{renta.flat.longitude|unlocalize}}],
            {%else%}
                center: [55.797602, 49.099868],
            {%endif%}
            zoom: 10,
            fullscreenControl: false,
            zoomControl: false,
            width:"100%"
        });

        {% if renta.flat.latitude is not None and renta.flat.longitude is not None%}
        DG.marker([{{renta.flat.latitude|unlocalize}}, {{renta.flat.longitude|unlocalize}}]).addTo(markers).on('click', function () {
            window.location.replace("{% url 'rents:apartment' renta.flat.pk %}");
        });
        {%endif%}

        markers.addTo(map);

        map.locate({setView: true, watch: false})
            .on('locationfound', function(e) {
                DG.marker([e.latitude, e.longitude]).addTo(map).bindPopup('Вы находитесь здесь!');
            })
            .on('locationerror', function(e) {
                DG.popup()
                    .setLatLng(map.getCenter())
                    .setContent('Доступ к определению местоположения отключён')
                    .openOn(map);
            });

        document.getElementById('slider-range').onclick = showMarkers;

        function showMarkers() {
           console.log($( "#slider-range" ).slider( "values", 0 ) );
        };
    });    
</script>
{% endblock %}