{% extends 'includes/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Главная{% endblock %}

{% block content %}
<section class="contr" id="contr"> 
    <div class="container">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="text-center">
                <form class="container" method="post" action="{% url 'rents:card_oper' %}" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <button class="btn btn-sm btn-primary btn-block" type="submit">Отвязать карту  **** {{user.usersdocuments.ya_card_last4}}</button>
                </form>
              </div>
        </div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <form class="container" method="post" action="{% url 'rents:options' %}" enctype='multipart/form-data'>
				{% csrf_token %}
				
                {% for field in form %}
                <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>
			
			</form>
        </div> 
    </div>
    <div class="container">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Последние транзакции</h1>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Аренда</th>
                    <th scope="col">Стоимость и статус</th>
                    <th scope="col">Тип</th>
                    </tr>
                </thead>
                <tbody>
                {%for item in payments%}
                    <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.renta}}</td>
                    <td>{{item.price}} \ {{payment.paid_info}}</td>
                    <td></td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Последние аренды</h1>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Даты</th>
                    <th scope="col">Статус</th>
                    </tr>
                </thead>
                <tbody>
                {%for item in rents%}
                    <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.flat}}</td>
                    <td>{{item.start}} \ {{item.end}}</td>
                    <td>{{item.status}}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
     
  </section>
{% endblock %}

{% block javascript %}
{% endblock %}