{% extends "base.html" %}

{% block title %}О нас{% endblock %}
{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <h1 class="display-4">О нас</h1>
    <p class="lead">На текущий момент мы - группа людей, готовая поменять этот мир и взглянуть на тривиальные вещи по-новому.</p>
    <p class="lead">Мы реализовываем самые смелые идеи, а так же учитвыаем ваше мнение во всех моментах для того, чтобы каждый из вас смог почувствовать себя частью нашей команды. </p>
    <p class="lead">Мы считаем, что сократив действия до минимума, Вы сможете достигнуть большего. Мы предлагаем вам легкий способ учета рабочего времени, который можно встроить в любую готовую систему.</p>
</div>

{% endblock %}