<div class="card text-center">
    
    <div class="card-body">
        <h5 class="card-title">{{project_list.flat.addressPartOne}}</h5>
        <p class="card-text">{{project_list.flat.addressPartTwo}}</p>

        {%if project_list.AccessObj %}
            <input type="button" class="btn btn-primary openDoor"
            data-url="{% url 'projects:access' %}" value="Открыть дверь">
        {%endif%}
        {%if project_list.paid is False %}
            <a class="btn btn-success" href="{% url 'projects:flatPay' project_list.id %}">Оплатить аренду {{project_list.getPrice}}</a>
            <a class="btn btn-danger" href="{% url 'projects:rentCancel' project_list.id %}">Отказаться</a>
        {%endif%}
    </div>
    <div class="card-footer text-muted">
        {{project_list.AccessObj.timeRemaining}}
    </div>
</div>