<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">{{flats.0.flat.addressPartOne}}</h5>
        <p class="card-text">{{flats.0.flat.addressPartTwo}}</p>

        {%if flats.0.AccessObj %}
            <input type="button" class="btn btn-primary openDoor"
            data-url="{% url 'projects:trial_access' flats.0.trial_key %}" value="Открыть дверь">
        {%endif%}
    </div>
    <div class="card-footer text-muted">
        {{flats.0.AccessObj.timeRemaining}}
    </div>
</div>