{% extends 'includes/main.html' %}
{% load static %}
{% block title %}Вход для пользователей{% endblock %}
{% block content %}
{% load widget_tweaks %}
<section class="contr" id="contr">
    <div class="container  p-4 justify-content-center">

<form method='POST' action="#">
    {% csrf_token %}
	<h1>Вход для пользователей</h1>
	{% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">

		<label for="exampleInputEmail1">{{ field.label }}</label>
		{% render_field field class="form-control login" %}
		
		{% for error in field.errors %}
			<p class="help-block" style="color: red;">{{ error }}</p>
		{% endfor %}
    </div>
    {% endfor %}	
	<button type="submit" class="btn btn-lg btn-block  btn-primary">Вход</button>
</form>
</div>
</section>

<footer class="py-2 bg-dark fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a href="{% url 'rents:registration'%}" class="btn btn-lg btn-block btn-primary">Регистрация</a>
            </div>
            <div class="col-md-4 padd">
                <a href="{% url 'password_reset' %}" class="btn btn-lg btn-block btn-secondary">Восстановить пароль</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
  </footer>
{% endblock %}