{% extends "includes/main.html" %}
{% load static %}
{% block title %}Создание нового пароля{% endblock %}
{% block content %}
{% if not user.is_authenticated %}

<section class="contr" id="contr">
  <div class="container  p-4 justify-content-center">
<form method="post" class="reg">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Создание нового пароля</h1>
    <input type="password" name="new_password1" maxlength="50" class="form-control" required="" id="id_new_password1" placeholder="Пароль">
    <p></p>
    <input type="password" name="new_password2" maxlength="50" class="form-control" required="" id="id_new_password2" placeholder="Подтверждение пароля">
    <p></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
    <input type="hidden" name="next" value="{{ next }}">
  
  </form>
</div>
</section>

{% else %}
Упс! Как вы здесь оказались? :)  
{% endif %} 
{% endblock %}