{% extends "body.html" %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% if not user.is_authenticated %}


<form method="post" action="{% url 'password_reset' %}" class="reg">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Забыли пароль?</h1>
    <p>Укажите свой E-Mail адрес, на который мы отправим инструкции для сброса пароля</p>
    <input type="email" name="email" maxlength="254" class="form-control" required="" id="id_email" placeholder="E-mail">
    <p></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Сбросить пароль</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>


{% else %}
Упс! Как вы здесь оказались? :)  
{% endif %} 
{% endblock %}