{% extends "includes/main.html" %}
{% load static %}
{% block title %}Успешно!{% endblock %}
{% block content %}
{% if not user.is_authenticated %}

<section class="contr" id="contr">
        <div class="container  p-4 justify-content-center">

<h1 class="h3 mb-3 font-weight-normal">Успешно!</h1>
        <p>Проверьте свою почту! Мы отправили на нее инструкции для восстановления пароля!</p>

</div>
</section>

{% else %}
Упс! Как вы здесь оказались? :)  
{% endif %} 
{% endblock %}