
{% if flat %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="max-width:400px;max-height:300px;">
    <ol class="carousel-indicators">

      {% for image in images %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{%if forloop.counter0 == 0 %} active {%endif%}"></li>

      {%endfor%}
    </ol>
    <div class="carousel-inner">
      {% for image in images %}
      <div class="carousel-item {%if forloop.counter0 == 0 %} active {%endif%}">
        <img class="d-block w-100" src="/media/{{image.images}}" alt="First slide" style="max-width:400px;max-height:300px;">
      </div>
      {%endfor%}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


{{flat}}

{{flat.city}}

{{flat.house_number}}

{{flat.building}}
{{flat.price}}

{{flat.deposit}}

{{flat.per_hour}}

{{flat.description}}

<button type="button" class="btn btn-success" onclick="rentStart({{flat.pk}})">Забронировать</button>
{%else%}
{%endif%}



