{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}
{% block content %}

{% if not user.is_authenticated %}
<div class="container">
  <div class="row justify-content-center">
  
    <div class="col-xl-12 col-lg-6 col-md-6">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Авторизация</h1>
            </div>
            <form class="form-signin" method='POST'> {% csrf_token %}

                <input type="username" class="form-control" maxlength="254" name='username' id="username" aria-describedby="emailHelp" placeholder="Логин">
                <p></p>
            
                <input type="password" class="form-control" maxlength="254" name='password' id="password" placeholder="Пароль">
                <p></p>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" href="{% url 'password_reset' %}">Забыли пароль?</a>
            </div>
            <div class="text-center">
              <a class="small" href="{% url 'user:userRegister' %}">Создать аккаунт!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  
  
  </div>
{% else %}
<script>
  window.location.replace("{% url 'projects:list' %}");
</script>  
{% endif %} 
{% endblock %}




